@media(max-width:1200px) {
	.container {
		max-width: 920px;
	}

	.title {
		&_left {
			font-size: 33px;
		}
	}
}


@media(max-width:992px) {
	.container {
		max-width: 720px;
	}
	.advantages {
		&__icon {
			width: 32%;
		}
	}
	.carousel {
		.prev {
			left: 55px;
		}
		.next {
			right: 55px;
		}
	}
	.catalog {
		&__content {
			justify-content: space-evenly;
		}
	}
	.reviews {
		&__block {
			margin-top: 80px;
		}
	}
	.footer {
		&__map {
			height: 578px;
		}
		&__info {
			width: 380px;
			padding: 40px 53px;
		}
	}
}
@media(max-width:767px) {
	.container {
		max-width: 540px;
	}
	.header{
		&__official {
			span {
				font-size: 16px;
			}
		}
		&__logo {
			width: 190px;
		}
		&__phone {
			line-height: 22px;
		}
	}
	.title {
		&_left {
			font-size: 24px;
		}
	}
	.consultation {
		&__descr {
			font-size: 17px;
			margin-top: 65px;
		}
	}
	.carousel {
		.prev, .next {
			display: none;
		}
		.tns-nav {
			display: block;
		}
	}
	.catalog-item {
		padding-left: 10px;
		padding-right: 10px;
		width: 268px;
		&__list {
			li {
				font-size: 12px;
				&::before {
					left: -7px;
				}
			}
		}
	}
	.reviews {
		&__block {
			flex-direction: column;
			align-items: flex-start;
		}
		&__header {
			margin-top: 12px;
		}
		&_img {
			margin-left: 45px;
		}
	}
	.footer {
		&__map {
			height: 472px;
		}
		&__info {
			width: 350px;
			height: 217px;
			padding: 40px 53px;
		}
		&__addr {
			font-size: 15px;
			margin-bottom: 24px;
		}
	}
	.modal{
		padding: 35px 26px 35px 30px;
		width: 365px;
		&__subtitle {
			font-size: 16px;
		}
		&__descr {
			font-size: 13px;
		}
	}
}

@media(max-width:575px) {
	.container {
		max-width: 300px;
	}
	.header {
		&__logo{
			width: 150px;
		}
		&__official {
			display: none;
		}
		&__phone {
			font-size: 16px;
		}
		.button {
			width: 130px;
			height: 25px;
			font-size: 11px;
		}
	}
	.promo {
		&__header {
			font-size: 28px;
		}
		&__subheader {
			font-size: 17px;
		}
		&__icons {
			width: 100%;
		}
	}
	.advantages {
		&__icons {
			flex-direction: column;
		}
		&__icon {
			margin-top: 30px;
			width: 100%;
			&:first-child {
				margin-top: 0;
			}
			span {
				margin-top: 20px;
				font-size: 16px;
			}
		}
		&__descr {
			margin-top: 20px;
		}
	}
	.title {
		&_left {
			font-size: 18px;
		}
	}
	.consultation {
		padding-top: 48px;
		&__descr {
			font-size: 14px;
			margin-top: 40px;
		}
	}
	.carousel {
		&__inner {
			width: 95%;
		}
	}
	.catalog__tab {
		font-size: 8px;
		width: 73px;
		height: 39px;
		line-height: 37px;
	}
	.catalog-item {
		margin: 0 auto;
		margin-bottom: 15px;
		&__subtitle {
			margin-top: 15px;
			font-size: 14px;
		}
		&__descr {
			margin-top: 10px;
			font-size: 10px;
		}
		&__link{
			margin-top: 11px;
			font-size: 12px;
		}
		&__price-old {
			font-size: 12px;
		}
		&__price {
			font-size: 18px;
		}
		&__back {
			font-size: 13px;
		}
	}
	.reviews {
		flex-direction: row;
		.xs-hidden {
			display: none;
		}
		&__content{
			margin-left: 0;
		}
		&__xs-content {
			display: flex;
		}
		&__descr {
			font-size: 11px;
		}
	}
	.footer {
		&__map {
			height: 338px;
		}
		&__info {
			width: 222px;
			height: 120px;
			padding: 9px 14px;
		}
		&__addr {
			font-size: 11px;
			margin-bottom: 17px;
		}
		&__phone {
			font-size: 13px;
			margin-bottom: 19px;
		}
		&__social-item {
			width: 40px;
			height: 40px;
			margin: 0 8px;
		}
	}
	.modal {
		width: 320px;
		padding: 35px 10px;
		&__close {
			right: 5px;
			top: 5px;
		}
	}
	.pageup {
		width: 30px;
		height: 30px;
		bottom: 30px;
		right: 25px;
	}
}