@import 'libs/bootstrap-reboot.min.scss';
@import 'libs/fonts.scss';
@import 'libs/tiny-slider.scss';
@import 'libs/animate.min';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animate';
* {
	font-family: 'Museo Sans', sans-serif;
	box-sizing: border-box;
}
.container {
	max-width: 950px;
	margin: 0 auto;
}

@import'blocks/titles';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/catalog-item';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';



@import 'base/media';