@import 'base/variables';
@import 'base/mixins';
* {
	font-family: 'Museo Sans', sans-serif;
}
.container {
	max-width: 950px;
	margin: 0 auto;
}

.tittle {
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #0d0d0d;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';



@import 'base/media';