.catalog {
	padding-bottom: 103px;
	&__title {
		font-size: 30px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #0d0d0d;
	}
	&__tabs {
		display: flex;
		justify-content: center;
		margin-top: 69px;
		margin-bottom: 59px;
		padding-left: 0;
	}
	&__tab {
		width: 220px;
		height: 50px;
		border: solid 2px #d0d0d0;
		text-align: center;
		text-transform: uppercase;
		line-height: 48px;
		transform: skewX(-25deg);
		margin: 0 5px;
		cursor: pointer;
		transition: 0.5s all;
		list-style: none;
		div {
			transform: skewX(25deg);
		}
		&_active {
			color:#fff;
			background-color: $main-color;
			border: none;
		}
		&:hover {
			border: none;
			box-shadow: 2px 3px 5px #0d0d0d;
		}
	}
	&__content {
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		&_active {
			display: flex;
		}
	}
}